{
  "presets": [
    "@babel/react",
    ["@babel/env", {
      "targets": {
        "browsers": [
          "Chrome >= 61",
          "ChromeAndroid >= 61",
          "iOS >= 11"
        ],
        "node": "9.2"
      }
    }]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread"
  ]
}
