:root {
  /* Color */

  --black: rgb(0, 0, 0);
  --opaqueBlack: rgba(0, 0, 0, .9);
  --yellow: rgb(255, 201, 39);
  --white: rgb(255, 255, 255);

  /* Easings */

  --easeQuintOut: cubic-bezier(0.23, 1, 0.32, 1);

  /* Font */

  --up10: 4em;
  --up9: 3.482202em;
  --up8: 3.013143em;
  --up7: 2.639016em;
  --up6: 2.297397em;
  --up5: 2em;
  --up4: 1.751101em;
  --up3: 1.515717em;
  --up2: 1.319508em;
  --up1: 1.148698em;
  --down1: 0.8706em;
  --down2: 0.7579em;
  --down3: 0.6599em;
  --down4: 0.5745em;
  --down5: 0.5em;
  --down6: 0.435275em;
  --down7: 0.378929em;
  --down8: 0.329877em;
  --down9: 0.287175em;
  --down10: 0.25em;

  /* Grid */

  --grid: 36px;
}

html,
body {
  background: var(--black);
  color: var(--white);
  font-family: "Input Mono Reg", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  animation: body 2s ease 0.4s backwards;
}

@keyframes body {
  from {
    opacity: 0;
  }
}

/* Core */

a {
  color: var(--yellow);
}

button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  display: flex;
  font-family: inherit;
  justify-content: center;
  outline: none;
  padding: 0
}

button svg {

  pointer-events: none;
}

h1 {
  color: var(--yellow);
  font-size: var(--up3);
  margin: 0 0 var(--grid);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--yellow);
  font-size: var(--down1);
  letter-spacing: 0.1em;
  margin: 0 0 var(--grid);
  text-transform: uppercase
}

h2 span {

  position: relative;

  z-index: 10;
}

h2 span::after {

  background: rgba(255, 255, 255, .225);

  bottom: -10%;

  content: '';

  height: 60%;

  left: calc(-0.125 * var(--grid));

  position: absolute;

  right: calc(-0.125 * var(--grid));

  z-index: -1;
}

.app {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
}

.canvas {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
}

.video-container {
  height: 100vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.video {
  height: 100%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}

/* Close */

.close {
  background-color: var(--yellow);
  border-radius: 50%;
  color: var(--black);
  cursor: pointer;
  height: calc(0.5 * var(--grid));
  padding: calc(0.5 * var(--grid));
  width: calc(0.5 * var(--grid))
}

.close svg {

  display: block;

  fill: currentColor;

  height: calc(0.5 * var(--grid));

  width: calc(0.5 * var(--grid));
}

/* Globe */

.globe {
  background: black;
  border-radius: 50%;
  box-shadow: inset 0 0 0 4px var(--yellow);
  height: calc(100vmin - 72px);
  position: relative;
  width: calc(100vmin - 72px);
}

@media (min-width: 40em) {

  .globe {

    height: calc(100vmin - 144px);

    width: calc(100vmin - 144px);
  }
}

.globe-crop {
  background: rgba(255, 201, 39, .1);
  border-radius: 50%;
  bottom: 24px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;
}

.globe-map {
  background-image: url(9279a509eaefeb54d464daf7a9bd526e.png);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: transform 5000ms;
  width: 619.60074%;
}

.globe-trace {
  animation-name: draw;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  background-image: radial-gradient(
    circle at 1px 1px,
    white 2px,
    transparent 2px
  );
  background-repeat: repeat-y;
  background-size: 4px 8px;
  height: calc(50% + 96px);
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: -96px;
  transform-origin: 50% 0;
  transition: height 5s;
  width: 2px;
  z-index: 10;
}

@keyframes draw {
  from {
    transform-origin: 50% 0;
    transform: scaleY(0);
  }
}

.globe-marker {
  align-items: center;
  box-shadow: 0 0 0 2px var(--white);
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px
}

.globe-marker::after {

  background-color: white;

  border-radius: 50%;

  content: "";

  height: 6px;

  width: 6px;
}

.globe-iss {
  height: auto;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -128px);
  width: 25vw;
  z-index: 10;
}

.globe-markercontainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 5s;
  width: 100%;
}

.globe--small {
  background: none;
  box-shadow: inset 0 0 0 2px var(--yellow);
  cursor: pointer;
  height: 0;
  padding-top: 100%;
  width: 100%
}

.globe--small .globe-crop {

  background: rgba(255, 201, 39, .25);

  bottom: 4px;

  left: 4px;

  right: 4px;

  top: 4px;
}

.globe--small .globe-map {

  background-image: url(ef0a543ab3f59253d88e496f0ab8929a.png);

  opacity: 0.5;
}

.globe--small .globe-marker {

  background-color: rgba(0, 0, 0, .2);

  height: 12px;

  width: 12px;
}

.globe--small .globe-marker::after {

  height: 4px;

  width: 4px;
}

.globe--start {
  animation: slideDown 1.5s var(--easeQuintOut) 0.9s backwards;
  bottom: 50%;
  left: 50%;
  height: 60vmin;
  position: absolute;
  transform: translate(-50%, 125%);
  width: 60vmin
}

.globe--start .globe-map {

  animation: spin 2.5s var(--easeQuintOut) 0.6s backwards;

  transform: translateX(-50%);
}


/* Info */

.info-button {
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: calc(0.5 * var(--grid));
  top: calc(0.5 * var(--grid));
}

.info-content {
  margin: 0 auto;
  max-width: 55em;
}

.info-fullscreen {
  background-color: var(--black);
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-bottom: var(--grid);
  padding-left: var(--grid);
  padding-right: var(--grid);
  padding-top: calc(3 * var(--grid));
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}

.info-image {
  display: block;
  margin: 0 auto calc(2 * var(--grid));
  width: calc(3 * var(--grid));
}

.info-open {
  background: rgba(255, 255, 255, .1);
  box-shadow: inset 0 0 0 2px var(--yellow);
  height: calc(1.5 * var(--grid));
  width: calc(1.5 * var(--grid));
  z-index: 100
}

.info-open svg {

  display: block;

  fill: var(--white);

  height: 22px;

  margin: auto;

  width: 16px;
}

/* Start */

.start-body {
  animation: slideUpAndIn 2s var(--easeQuintOut) 1.1s backwards;
  margin: 0 auto;
  max-width: 40em;
  position: relative;
  z-index: 10;
}

.start-button {
  background-color: var(--yellow);
  font-size: var(--up1);
  margin: var(--grid) 0 calc(2 * var(--grid));
  padding: calc(0.5 * var(--grid));
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.start-fullscreen {
  background-color: var(--opaqueBlack);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding-left: calc(0.5 * var(--grid));
  padding-right: calc(0.5 * var(--grid));
  position: relative;
  z-index: 101;
}

@media (min-width: 30em) {

  .start-fullscreen {

    padding-left: calc(1.5 * var(--grid));

    padding-right: calc(1.5 * var(--grid));
  }
}

.start-globe {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.start-inner {
  background-image: linear-gradient(white, white), linear-gradient(white, white);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: calc(50% - 6em) 1px, calc(50% - 6em) 1px;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
  flex: 1;
  margin-top: calc(2 * var(--grid));
  padding-bottom: calc(1 * var(--grid));
  padding-left: calc(0.5 * var(--grid));
  padding-right: calc(0.5 * var(--grid));
  padding-top: calc(1.5 * var(--grid));
  position: relative;
}

@media (min-width: 25em) {

  .start-inner {

    padding-left: var(--grid);

    padding-right: var(--grid);
  }
}

@media (min-width: 30em) {

  .start-inner {

    padding-top: calc(2 * var(--grid));
  }
}

.start-iss {
  left: 50%;
  position: absolute;
  top: calc(2 * var(--grid));
  transform: translate(-50%, -50%);
  width: calc(3 * var(--grid));
  z-index: 10;
}

@keyframes slideDown {
  from {
    transform: translate(-50%, 50%);
  }
}

@keyframes slideUpAndIn {
  from {
    opacity: 0.01;
    transform: translateY(8%);
  }
}

@keyframes spin {
  from {
    transform: translateX(-40%);
  }
}

/* Tracker */

.tracker {
  bottom: var(--grid);
  box-shadow: inset 1px -1px var(--white);
  display: flex;
  left: var(--grid);
  padding-right: var(--grid);
  position: fixed;
  right: var(--grid);
  z-index: 81;
}

.tracker-button {
  height: calc(2 * var(--grid));
  outline: none;
  padding: calc(0.25 * var(--grid));
  width: calc(2 * var(--grid));
}

.tracker-distance {
  display: inline-block;
}

.tracker-readout {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

.tracker-region {
  display: inline-block;
}

.tracker-fullscreen {
  background-color: var(--black);
  display: flex;
  align-items: center;
  bottom: 0;
  justify-content: center;
  left: 0;
  padding-bottom: calc(2 * var(--grid));
  padding-top: calc(2 * var(--grid));
  padding-left: var(--grid);
  padding-right: var(--grid);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
}

.tracker-heading {
  margin-bottom: calc(0.2 * var(--grid));
}

.tracker-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.35;
  padding-left: calc(0.5 * var(--grid));
}

.tracker-toggle {
  align-items: center;
  box-shadow: inset -1px 1px var(--white);
  display: flex;
  justify-content: center;
}
